<hr>
<h1>dashboard</h1>
<hr>
<h3>trips</h3>
<% @trips.each do |trip| %>
  <% if trip.user_id == session[:id] %>
    <div><a href="/trip/<%=trip.id%>"><%=trip.name%></a></div>
  <% end %>
<% end %>

<hr>
<h3>My Cards</h3>
<div class="cards_container">
</div>

<%= render 'dashboard_card_template' %>

<script>
$(document).ready(function() {

  var user_id =  <%= @user_id.to_json %>;

  console.log(user_id);

  $.ajax({
    url: 'http://localhost:3000/api/cards/',
    method: 'GET'
  }).done(function(data){

    var cards = [];

    for(var i=0; i<data.length; i++){
      if (data[i].user_id === user_id){
        console.log('test');
        cards.push(new Card(data[i]));
      };
    };

    //????

    cards.forEach(function(card){
      var view = new DashboardCardItemView({model: card});
      $('.cards_container').append(view.render().el);
    });



  });

});
</script>

<%= form_tag '/new_card_form', method: 'get' do %>
  <button>create new card</button>
<% end %>

<hr>
<a href="/mood_board">Mood Board</a>
