<h1 class="dashboard-header">Dashboard</h1>

<h3 class="text-center">My Trips</h3>
<div class="text-center my-trips">

  <% @trips.each do |trip| %>
    <% if trip.user_id == session[:id] %>
      <div class="dashboard-trip text-center"><h4><a href="/trip/<%=trip.id%>"><%=trip.name%></a></h4></div>
    <% end %>
  <% end %>

  <div class="text-center dashboard-trip">
    <a href="/mood_board" class="btn btn-info">Future Trips</a>
  </div>

  <div class="dashboard-trip text-center">
    <%= form_tag '/new_trip', method: 'get' do %>
      <button class="btn btn-success">Create Trip</button>
  <% end %>
  </div>

</div>

<div class="container-fluid text-center my-cards">
  <h3 class="text-center">My Cards</h3>
  <div class="cards_container container-fluid">
  </div>
</div>

<%= render 'dashboard_card_template' %>

<script>
$(document).ready(function() {

  var user_id =  <%= @user_id.to_json %>;

  $.ajax({
    url: '/api/cards/',
    method: 'GET'
  }).done(function(data){

    var cards = [];

    for(var i=0; i<data.length; i++){
      if (data[i].user_id === user_id){
        cards.push(new Card(data[i]));
      };
    };


    cards.forEach(function(card){
      var view = new DashboardCardItemView({model: card});
      $('.cards_container').append(view.render().el);
    });

  });

});
</script>
