<%= form_tag '/', method: 'post' do %>
  <label for="">email</label>
  <input type="text" name="email">
  <label for="">password</label>
  <input type="password" name="password">
  <button>login</button>
<% end %>

<%= form_tag '/user', method: 'get' do %>
  <button>Sign Up</button>
<% end %>

<div>
  <!-- <img src="/pages/map" alt=""> -->
  <%= form_tag '/', method: 'get' do %>
    <input type="text" name="search">
    <select name="select">
      <option value="country">country</option>
      <option value="city">city</option>
    </select>
    <button class="search-btn">Search</button>
  <% end %>
</div>


<div class="cards_container">
</div>

<%= render 'card_template' %>

<script>
$(document).ready(function() {


  $.ajax({
    url: 'http://localhost:3000/api/cards/',
    method: 'GET'
  }).done(function(data){

  cards = [];
    // var cards = <%= @cards.to_json %>;

    for(var i=0; i<data.length; i++){
      cards.push(new Card(data[i]));
    }

    //????

    cards.forEach(function(card){
      var view = new CardItemView({model: card});
      $('.cards_container').append(view.render().el);
    });



  });




// reload on click, extract information from search bar
// outside of document ready? should only be used after the document is
// ready anyway

});
</script>
