<button id="create_new_card">CREATE NEW CARD</button>
<div id="new_card_container"></div>
<!-- /new_card_form/<%= @trip_id %> -->
<input type="hidden" value=" <%= @trip_id %> " id="trip_id">
<div id="mapPin"></div>

<% @cards.each do |card| %>
  <% if card.user_id == session[:id] %>
    <div><img src=<%= card.image_url %> alt=""> </div>
    <div class=""><%=card.body%></div>
    <div class="">
      <%=card.city%>
    </div>
    <div class="">
      <%=card.country%>
    </div>
  <% end %>
<%end%>

<script id="new_card_form"type="BOOGY WOO DO">
<div id="map"></div>
  <form class="new-card-form" action="">
    <label class="new-" for="">Card Name</label>
    <input type="text" name="name" value="" class="new-card-name">
    <label for="">Image Url</label>
    <input type="text" name="image_url" value="" class="new-card-image">
    <button class="new_card_action">SUBMIT</button>
  </form>
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDos2y09tthYvRB3zKJ53njpqZkSFtX8u4&callback=initPinMap">
</script>
