<a href="/new_card_form/<%= @trip_id %>">CREATE NEW CARD</a>

<input type="hidden" value=" <%= @trip_id %> " id="trip_id">
<div id="map"></div>
<!-- async defer -->

<% @cards.each do |card| %>
  <% if card.user_id == session[:id] %>
    <div><img src=<%= card.image_url %> alt=""> </div>
    <div class=""><%=card.body%></div>
    <div class="">
      <%=card.city%>
    </div>
    <div class="">
      <%=card.country%>
    </div>
  <% end %>
<%end%>


<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDos2y09tthYvRB3zKJ53njpqZkSFtX8u4&callback=initPinMap">
</script>
