<!DOCTYPE html>
<html>
  <head>
    <title>KabbageApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:first_name] != nil %>
      <p>Logged in: <%= session[:first_name] %></p>
      <%= form_tag '/', method: 'delete' do %>
      <button>logout</button>
      <% end %>
      <%= form_tag '/new_card_form', method: 'get' do %>
        <button>Create Card</button>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
