<!DOCTYPE html>
<html>
  <head>
    <title>KabbageApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="topnav">
        <div class="logo">
          <h1>Tripr</h1>
        </div>
        <% if user_signed_in? %>
          <div class="left-side">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
            </ul>
          </div>
          <div class="right-side">
            <p>Logged in as: <%= session[:first_name] %></p>
            <%= form_tag '/', method: 'delete' do %>
              <button>Logout</button>
            <% end %>
          </div>
        <% else %>
          <div class="right-side">
            <div class="login-form">
              <%= form_tag '/', method: 'post' do %>
                <label for=""><i class="fa fa-envelope-o" aria-hidden="true"></i></label>
                <input type="text" name="email" placeholder="Your_Email@mail.com">
                <label for=""><i class="fa fa-key" aria-hidden="true"></i></label>
                <input type="password" name="password" placeholder="Password">
                <button>login</button>
              <% end %>
            </div>
            <div class="sign-up">
              <a href="/user">Sign Up</a>
            </div>
          </div>
        <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
