<!DOCTYPE html>
<html>
  <head>
    <title>KabbageApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if session[:first_name] != nil %>
      <p>Logged in: <%= session[:first_name] %></p>
      <%= form_tag '/', method: 'delete' do %>
      <button>logout</button>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
